<div class="container" data-ng-controller="forecastController">
    <h2>Forecast for {{ city }}</h2>

    <div class="panel panel-default" ng-repeat="day in forecast">
        <div class="panel-heading">{{ day.date.weekday }}</div>
        <div class="panel-body">
            On {{ day.date.weekday }} the average is {{ (+day.high.fahrenheit + +day.low.fahrenheit) / 2 }}.
            <br>
            The highest is {{ day.high.fahrenheit }}  and lowest is {{ day.low.fahrenheit }}
        </div>
    </div>

    <div class="panel panel-default" ng-if="noForecast">
        <div class="panel-heading">Not Found</div>
        <div class="panel-body">
            Sorry, there's no forecast for selected place... :-(
        </div>
    </div>
</div>
